VITE_CONTACT_FORM_SHEETS_URL=

# Configuración de Firebase para el Frontend (Web App)
# Copia estos valores desde la Consola de Firebase -> Project Settings -> General -> Your Apps -> Web App
VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=c
VITE_FIREBASE_PROJECT_ID=
VITE_FIREBASE_STORAGE_BUCKET=
VITE_FIREBASE_MESSAGING_SENDER_ID=
VITE_FIREBASE_APP_ID=

# Base URL para llamar a las Cloud Functions locales (Desarrollo) o producción (Vercel)
# Localmente apunta a: http://127.0.0.1:5001/centro-educativo-f5cc5/us-central1
VITE_FUNCTIONS_BASE_URL=