body {
  margin: 0;
}

#root {
  max-width: 100%;
  background: #08060d;
  font: 18px/145% var(--sans);
  text-align: center;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  color: white;
  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;
}

h1,
h2 {
  font-family: var(--heading);
}

h1 {
  font-size: 56px;
}
h2 {
  font-size: 24px;
}
p {
  margin: 10px;
}
