.grilla-principal {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 2rem;
  align-items: start;
}

.proximos-eventos {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-top: 2.5rem;
}
